@charset "UTF-8";


@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px); /* Adjust the height of the bounce */
  }
}

@keyframes shakeX {
  0% { transform: translateX(0); }
  10%, 90% { transform: translateX(-10px); }
  20%, 80% { transform: translateX(10px); }
  30%, 50%, 70% { transform: translateX(-10px); }
  40%, 60% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

@keyframes rotateAndScale {
  0% {
      transform: rotate(0deg) scale(1); /* Start with no rotation and normal size */
  }
  50% {
      transform: rotate(180deg) scale(1.25); /* Rotate halfway (180 degrees) and increase size */
  }
  100% {
      transform: rotate(360deg) scale(1); /* Rotate fully (360 degrees) and return to normal size */
  }
}

@keyframes backInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%) scale(0.7);
  }
  80% {
    transform: translateX(20px) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0); /* Start with no scale */
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    transform: scale(1); /* Scale to normal size */
    opacity: 1; /* Fade in */
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes rain {
  0% {
    transform: translateY(-20px); /* Start from top */
  }
  100% {
    transform: translateY(100vh); /* Move to bottom */
  }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.25; }
  100% { opacity: 1; }
}

@keyframes glow {
  0% { text-shadow: 0 0 20px rgba(245, 222, 179, 0.8); }
  50% { text-shadow: 0 0 40px rgba(245, 222, 179, 1); }
  100% { text-shadow: 0 0 20px rgba(245, 222, 179, 0.8); }
}


@keyframes color-cycle {
0% { filter: hue-rotate(0deg); }
100% { filter: hue-rotate(360deg); }
}

@keyframes move {
0%   { transform: scale(1)   translate(10px, -30px); }
38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
100% { transform: scale(1)   translate(10px, -30px); }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}