* {
	padding:0;
	margin:0;
}
body {
	font-family: 'Poppins', sans-serif;
}
h1, h2, h3 {
	font-weight: 700;
}
h4, h5 {
	font-weight:600;
}
h6 {
	font-weight:500;
}
.white {
	color:#ffffff !important;
}
.boldwhite{
	color: #ffffff !important;
	font-weight: bold;
}
.green{
	color: green;
}
.black {
	color: #000000;
}
.purple{
	color: purple;
}
.gold{
	color: #FFD700;
}
.bg-white{
	background: #ffffff;
	background-color: #ffffff;
}
.bg-lightcyan{
	background: #B2FFFF;
	background-color: #B2FFFF;
}
.bg-black{
	background: #000000;
	background-color: #000000;
}
.bg-lightblack{
	background-color: #333333;
	background: #333333;
}
.bg-lightgray{
	background-color: #D3D3D3;
	background: #D3D3D3;
}
.navbar {
	position: fixed;
	right: 0;
	left: 0;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	min-height: 50px;
	line-height: 50px;
	background: #ffffff;
	z-index: 1030;
	display: flex;
}
.navbar-collapse {
    display: none; /* Initially hide the navbar */
}
.collapsed {
    display: block !important;
    padding-left: 10px; /* Override Bootstrap's default display property */
}
.navbar .nav-item {
	margin: 0 5px;
	padding: 0;
}
.navbar .nav-item a {
	color: #000000;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 13px;
}
.navbar .nav-item a:hover {
	color: darkcyan;
	animation: bounce 0.5s;
    font-weight: bold;
}
.navbar .nav-link {
	position: relative;
	padding: 0;
}
.navbar .nav-title{
	font-size: large;
    color: darkcyan;
    font-weight: 600;
}
.navbar .nav-icon-container {
    display: inline-flex;
}
.navbar .nav-icon {
	width: inherit;
    height: auto;
    background-color: transparent;
}
.navbar .nav-icon img{
	width: 20%;
}
.navbar .nav-icon:hover {
    animation: bounce 0.5s;
}
.blob-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: darkcyan;
    /*background: #FFB1A4;*/
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    flex-direction: column; /* Align items vertically */
  }
  .blob-container .blob {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 50vmax;
    z-index: 1; /* Ensure it's behind h1 */
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
  }
.blob-container .blob-title{
    color: white;
    padding-top: 2.5%;
    font-size: 10vmin;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative; /* Position relative to allow z-index to work */
    z-index: 2; /* Ensure h1 is on top */
    margin-bottom: 5vh; /* Add some space below h1 */
  }
  
.blob-container .blob-content {
    color: white;
    padding-top: 25px;
    font-size: 25px; /* Responsive font size */
    line-height: 1.25;
    text-align: left; /* left text */
    z-index: 1;
}
.box-container{
    position: relative;
    text-align:center;
    -webkit-font-smoothing: antialiased;
}

.box-wrap{
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
    margin: 5%;
}

.box {
    padding: 20px; /* Decrease padding for smaller screens */
    margin: 10px; /* Adjust margin for smaller screens */
    background: white;
    width: 80%; /* Adjust width for smaller screens */
    max-width: 300px; /* Limit maximum width for larger screens */
    border: 1px solid #d6d6d6;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    transition: .2s all;
    align-self: stretch;
    }

.box-wrap:hover .box {
    filter: blur(3px);
    opacity: .5;
    transform: scale(.98);
    box-shadow: none;
}

.box-wrap:hover .box:hover {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
    color: white;
    background: linear-gradient(to left, #7a60ff, #cd9ffa);
}

.service-text, .feature-text, .faq-text, .team-text, .testimonials-text, .about-text, .contactus-text{
animation: zoomIn 2s ease-in-out;
}

.features, .services, .faq, .team, .testimonial, .about, .contact{
    padding-top: 5%;
    padding-bottom: 1%;
}

.box-black {
    width: 80%; /* Adjust the width as needed */
    max-width: 350px; /* Optional: Set a maximum width */
    margin: 15px; /* Center the box horizontally */
    padding: 30px;
    background: #000000;
    color: #FFFFFF;
    text-align: center;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
    align-self: stretch;
    transition: transform 0.3s ease; /* Smooth transition */
}

.box-black:hover {
    transform: translateY(-20px);
    background-color: #FFFFFF;
    color: #000000;
}

.box-black .feature-title {
	margin-top: 20px;
	text-align: center;
}

.box-black .feature-description {
	display: none;
	margin-top: 20px;
}

.box-black:hover .feature-title {
	display: none;
}

.box-black:hover .feature-description {
	display: block;
}
.box-container-faq{
    justify-content: center;
    align-items: center;
    display: flex;
}
.faq-items {
    max-width: 600px;
    color: #333;
    background: #fcfcfc;
    overflow-x: hidden;
}

.faq-content {
  margin: 0 auto;
}

.faq-item {
  padding: 20px 0;
  border-bottom: 1px dotted #ccc;
}

.faq-question {
  font-size: 20px;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
}
.faq-item:hover{
    color: darkcyan;
}

.faq-description {
  font-size: 15px;
  padding: 5px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: 1;
  position: relative;
  opacity: 0;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.faq-toggle:checked ~ .faq-description{
  height: auto;
  opacity: 1;
  padding: 14px;
}

.faq-expand {
  position: absolute;
  color: darkcyan;
  margin-left: 4 px;
  margin-top: 4px;
  z-index: 5;
  font-size: 42px;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.faq-toggle:checked ~ .faq-expand {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  color: red;
}

.faq-toggle {
  display: none;
}
.our-team-container{
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
}
.our-team{
    width: 250px;
    margin: 0 10px;
    display: inline-block;
}
.our-team .team-image{
    position: relative;
    text-align: center;
}
.our-team img{
    width: 210px;
    height: auto;
}
.our-team .description{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    padding: 20px 30px;
    opacity: 0;
    background-color: rgba(59, 51, 106, 0.6);
    transition: all 0.5s ease 0s;
}
.our-team:hover .description{
    opacity: 1;
}
.our-team .social{
    padding: 10px 0 0 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 40px;
    left: -27px;
    background: #3b336a;
    text-align: center;
    transform: translate(25px, 0px) rotateY(90deg);
    transition: all 0.5s ease 0s;
}
.our-team:hover .social{
    transform: translate(0px, 0px) rotateY(0deg);
}
.our-team .social li{
    display: block;
    margin-bottom: 10px;
}
.our-team .social li a{
    display: block;
    width: 40px;
    height: 35px;
    font-size: 17px;
    color: #fff;
    line-height: 30px;
    transition: all 0.5s ease 0s;
}
.our-team .social li a:hover{
    background: darkcyan;
}
.our-team .team-info{
    padding: 20px;
}
.our-team .title{
    font-size: 18px;
    color: #3b336a;
    letter-spacing: 2px;
    margin: 0 0 15px 0;
    transition: all 0.5s ease 0s;
}
.our-team .post{
    display: block;
    font-size: 14px;
    color: #3b336a;
    text-transform: capitalize;
}
.our-team .title:hover,
.our-team .post:hover{
    color: #bc3fbf;
}
/*testimonial*/
.testimonial-slider {
    position: relative;
    /* max-width: 75%; */
    /* margin: 0 auto; */
    overflow: hidden;
}
.testimonial-item {
	padding:20px;
	border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
	background-color: #D3D3D3;
}
.testimonial-content {
    /* display: flex; */
    align-items: center;
    justify-content: center;
	
}
.testimonial-img {
    max-width: 175px;
    text-align: center;
}
.testimonial-img img {
    width: 100%;
    border-radius: 75%; /* Make the image circular */
    border: 8px solid #fff;
}
.testimonial-text {
    flex: 1;
    text-align: justify;
    padding: 6px;
}
.testimonial-title{
	font-size: 16px;
	line-height: 1.25;
}
.testimonial-title span {
    font-size: 12px;
}
.testimonial-slider-button-container {
    margin-top: 10px;
    position: relative;
    padding-bottom: 10px;
}

.testimonial-slider-button {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px 20px;
    border-radius: 50%;
    font-size: 15px;
    transition: background-color 0.3s;
}

.testimonial-slider-button:hover {
    background: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    color: white !important;
}
.about-social-icons-container {
    display: flex;
    justify-content: center; /* Center icons horizontally */
    gap: 10%; /* Add spacing between icons */
}

.about-social-icons-container a {
    display: inline-block; /* Ensure icons are inline-block elements */ 
    color: black;
}
.about-social-icons-container a:hover {
    animation: bounce 0.5s;
    color: darkcyan;
}
.about-social-icons-container i {
    font-size: 30px; /* Increase icon size */
}
.form-input {
	height: 42px;
	padding: 0 1rem;
	background: #fff;
	border-radius: 30px;
	margin-bottom: 1rem;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border: 1px solid #e4e4e4;
}
.form-input-textarea {
	resize: none;
	padding: 1rem;
	height: 150px;
	background: #fff;
	border: 1px solid #e4e4e4;
	border-radius: 30px;
	margin-bottom: 1rem;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.form-input-submit {
    background-color: #800080; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    padding: 10px 20px; /* Add padding to the button */
    border-radius: 5px; /* Add border radius for rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-size: 16px; /* Adjust font size */
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

.form-input-submit:hover {
    background-color: #4b004d; /* Darker background color on hover */
}
.footer-copy {
	color: darkcyan;
    font-weight: 500;
	background: white;
	z-index: 999;
	font-size: 15px;
	text-align: center;
	padding-bottom: 20px;
	padding: 10px;
	bottom: 0;
	width: 100%;
	height: 7.5%;
	position: fixed;
}
.footer-copy p {
	margin-bottom: 5px;
}
.color-boxcontainer {
    height: 500px;
    background: linear-gradient(to right, #ff5733, #da8cff, #33daff, #33ffb4);
    border-radius: 10px;
    animation: color-cycle 5s infinite alternate;
  }


  @media screen and (max-width: 911px) {
    .blob-container .blob-title {
      font-size: 10vw; /* Adjust font size for smaller screens */
    }

    .blob-container .blob-content {
      font-size: 16px; /* Adjust font size for smaller screens */
    }
  }

@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
    .box {
        padding: 15px; /* Decrease padding for smaller screens */
        margin: 10px; /* Adjust margin for smaller screens */
        background: white;
        width: 80%; /* Adjust width for smaller screens */
        max-width: 275px; /* Limit maximum width for larger screens */
        }
    .box-black {
        width: 80%; /* Adjust the width as needed */
        max-width: 275px; /* Optional: Set a maximum width */
        margin: 10px; /* Center the box horizontally */
        padding: 20px;
        background: #000000;
        color: #FFFFFF;
        text-align: center;
        box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
        align-self: stretch;
        transition: transform 0.3s ease; /* Smooth transition */
    }
}
@media only screen and (max-width: 768px){
    .our-team .social{ left: -20px; }
    /* .home-container{
        background-image: url("images/bgimagemobile.jpg");
    } */
    .home-container .home-title{
        color: #008080;
    }
    .home-container .home-content {
        color: #008080;
    }
    .box, .box-black {
        width: 45%; /* Adjust width for medium screens */
      }
    .nav-scroll .navbar-brand img, .navbar-brand img {
		transform: scale(0.75) !important;
		-webkit-transform: scale(0.75) !important;
	}
	.banner-text {
		padding-right: 0px;
		margin: 10px 0px 0px;
	}
	.box-container-faq h5,p{
		font-size: 12px;
	}
    .service-title, .feature-title{
        font-size: 15px;
    }
    .faq-question{
        font-size: 16px;
    }
    .faq-expand{
        font-size: 16px;
        margin-top: 14px;
    }
}

@media (max-width: 575px) {
    .our-team {
        width: 100%; /* Make team members full width on small screens */
        margin: 10px 0px; /* Add vertical margin for spacing */
    }
    .our-team .description {
        position: absolute;
        width: 50%; /* Adjust width as needed */
        padding: 10px; /* Adjust padding as needed */
        left: 25%; /* Adjust left position as needed */
    }
    .our-team .social {
        padding: 5px 0 0 0;
        left: 20%;
    }

    .our-team .social li a {
        width: 30px;
        height: 25px;
        font-size: 14px;
    }
    .box {
        padding: 10px; /* Decrease padding for smaller screens */
        margin: 10px; /* Adjust margin for smaller screens */
        background: white;
        width: 65%; /* Adjust width for smaller screens */
        max-width: 250px; /* Limit maximum width for larger screens */
        }
    .box-black {
        width: 65%; /* Adjust the width as needed */
        max-width: 250px; /* Optional: Set a maximum width */
        margin: 10px; /* Center the box horizontally */
        padding: 20px;
    }
    .about-social-icons-container i {
        font-size: 20px; /* Increase icon size */
    }
}

@media only screen and (max-width: 450px){
    .navbar{
        position: relative;
    }
    .footer-copy{
        position: relative;
        background: #fff;
    }
    .our-team .social{ left: -20px; }
    .home-container .home-title{
        color: white;
    }
    .home-container .home-content {
        color: white;
    }
    .our-team img{
        width: 150px;
    }
    .our-team .description{
        height: 60%;
        font-size: 10px;
        text-overflow: ellipsis;
        overflow-y: auto;
    }
    .our-team .team-image{
        position: static;
        font-size: 12px;
        text-align: center;
    }
    .our-team .social {
        padding: 5px 0 0 0;
        left: 18%;
        top: 5%;
    }
    .service-title, .feature-title{
        font-size: 12px;
    }
    .box {
        padding: 10px; /* Decrease padding for smaller screens */
        margin: 10px; /* Adjust margin for smaller screens */
        background: white;
        width: 175px; /* Limit maximum width for smaller screens */
        }
    .box p{
            font-size: 10px;
        }
    .box-black {
        max-width: 225px; /* Optional: Set a maximum width */
        margin: 10px; /* Center the box horizontally */
        padding: 20px;
    }
    .box-black .feature-description {
            margin-top: 10px;
            font-size: 10px;
        }
        .faq-question{
            font-size: 14px;
        }
        .faq-expand{
            font-size: 12px;
            margin-top: 14px;
        }
        .faq-description{
            font-size: 12px;
        }
        .testimonial-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center; /* Center-align text */
        }
        .testimonial-img {
            text-align: center; /* Center align content */
            margin-bottom: 20px;
        }
        .testimonial-img img {
            max-width: 75%; /* Ensure image doesn't overflow container */
            display: inline-block; /* Set image as inline block for centering */
            vertical-align: middle; /* Vertically center image */
        }
        .testimonials-text{
            font-size: 10px;
        }
    /* .our-team .description{
        font-size: 12px;
        line-height: 1.5;
        margin: 5px auto;
        width: 100%;
    } */
}

@media only screen and (max-width: 250px){
    .box, .box-black {
        padding: 5px; /* Decrease padding for smaller screens */
        margin: 5px; /* Adjust margin for smaller screens */
        width: 175px; /* Limit maximum width for smaller screens */
        }
    .feature-description {
            margin-top: 10px;
            font-size: 10px;
        }
    .faq-question{
        font-size: 12px;
    }
    .faq-description{
        font-size: 10px;
        line-height: 1;
    }
    .faq-item{
        max-width: 250px;
    }
    .testimonial-img img {
        max-width: 55%; /* Ensure image doesn't overflow container */
    }
    .testimonial-text{
        width: 200px;
    }
}